* {
	padding: 0%;
	margin: 0%;
	font-family: "Merriweather", serif;
	color: #bdbdbd;
}
/* HEADER */
header {
	display: flex;
	text-align: center;
	flex-direction: column;
}
h1 {
	color: white;
	background-color: #14213d;
	padding: 1em;
	font-size: 25px;
}
h2 {
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-size: 20px;
}
#info {
	padding-right: 0.5em;
	padding-left: 0.5em;
	padding-bottom: 10%;
}
/* FORM */
fieldset {
	margin: 5%;
	border: none;
	display: flex;
	flex-direction: column;
}
#info_label {
	font-weight: bold;
	padding-bottom: 5%;
	padding-top: 1em;
}
input {
	line-height: 3em;
	background-color: #d3d3d3;
	border: none;
	outline-color: #14213d;
	color: black;
	padding-left: 0.5em;
	border-radius: 1vh;
}
::-webkit-input-placeholder {
	text-align: right;
	padding-right: 1em;
	font-style: italic;
	color: #a8a8a8;
}
select {
	height: 3em;
	background-color: #d3d3d3;
	border: none;
	outline-color: #14213d;
}
legend,
h2 {
	color: black;
}
